*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(min-width:320px){
  footer{
    background-color: #222222;
  
}
.box{
    background-color: #151515;
    
}
.logo{
    margin: 43px 155px 0px 65px;
}
.text1{
    /* width: 185px;
    height: 89px; */
    margin: 19px 70px 0px 65px;
    font-size: 14pt;
    color: rgba(150, 153, 166, 255);
    text-align: left; 
}
.text2{
    /* width: 145px;
    height: 85px; */
    margin: 29px 110px 0px 65px;
    font-size: 14pt;
    color: rgba(150, 153, 166, 255);
    text-align: left; 
}
.button{
    background-color: #fcae26;
    /* width: 10px;
    height: 50px;
    text-transform: uppercase; */
    border: none;
    width: 192px;
    height: 42px;
    color: #f6f9fa;
    justify-content: right;
    margin: 36px 63px 0px 65px;
    font-size: 16pt;
    color: rgba(246, 249, 250, 255);
}
.knopki{
    display: flex;
    flex-wrap: wrap;
}
.button1{
    margin: 34px 0px 0px 65px;
}
.button2{
    margin: 34px 0px 0px 17px;
}
.button3{
    margin: 34px 0px 0px 17px;
}
.one{
    padding:24px 0px 0px 0px ;
    margin: 0px 80px 0px 66px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    list-style: none;
    
}
.two{
    margin: 9px 66px 0px 66px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    text-align: left;
    list-style: none;
}
.three{
    margin: 9px 134px 23px 65px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    text-align: left;
    list-style: none; 
}
}
@media(min-width: 768px){
footer{
    background-color: #222222;
    /* width: 768px;
    height: 255px; */
}
.box{
    background-color: #151515;
    /* width: 768px;
    height: 49px; */
}
.logo{
    margin: 55px 589px 0px 72px;
}
.text1{
    font-size: 14pt;
    color: rgba(150, 154, 168, 255);
    text-align: left;
    margin: 28px 0px 55px 74px;
}
.text2{
    font-size: 14pt;
    color: rgba(150, 154, 168, 255);
    text-align: left;
    margin: 29px 0px 58px 50px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.button{
    background-color: #fcae26;
    /* text-transform: uppercase; */
    border: none;
    width: 192px;
    height: 42px;
    color: #f6f9fa;
    justify-content: right;
    margin: 32px 0px 0px 48px;
}
.button1{
    margin: -85px 17px 0px 532px;
}
.button2{
    margin: -85px 17px 0px 20px;
}
.button3{
    margin: -85px 0px 0px 20px;
}
.text{
    display: flex;
    flex-wrap: wrap;
}
.one{
    padding: 19px 0 0 0;
    margin: 0px 0px 18px 76px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    text-align: left;
    
}
.two{
    margin: 19px 0px 10px 39px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    text-align: left;
    
}
.three{
    margin: 19px 0px 18px 38px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    text-align: left;
}

@media(min-width: 1300px){
footer{
    background-color: #222222;
    /* width: 1920px;
    height: 350px; */
}
.box{
    background-color: #151515;
    
}
.logo{
    margin: 55px 1504px 0px 309px;
}
.text1{
    font-size: 14pt;
    color: rgba(150, 154, 168, 255);
    text-align: left;
    margin: 28px 0px 60px 311px;
}
.text2{
    font-size: 14pt;
    color: rgba(150, 154, 168, 255);
    text-align: left;
    margin: 29px 0px 63px 144px;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  
}
.button{
    background-color: #fcae26;
    font-size: 12pt;
    /* text-transform: uppercase; */
    border: none;
    width: 150px;
    height: 40px;
    color: #f6f9fa;
    justify-content: right;
    margin: 29px 0px 0px 100px;
}
.knopki{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0px;
    
}
.button1{
    margin: 29px 0px 108px 140px;
}
.button2{
    margin: 29px 0px 108px 20px;
}
.button3{
    margin: 29px 0px 108px 20px;
}
.text{
    display: flex;
    flex-wrap: wrap;
}
.one{
    padding: 17px 0 0 0;
    margin: 0px 0px 18px 313px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    text-align: left;
    
}
.two{
    margin: 17px 0px 18px 76px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    text-align: left;
    
}
.three{
    margin: 17px 0px 18px 75px;
    font-size: 12pt;
    color: rgba(98, 98, 99, 255);
    text-align: left;
    
}
}

